@model Marketplace.Domain.ViewModels.Account.RegisterViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Регистрация";
}

<section class="page__login login-block">
    <div class="login-block__container">
        <div class="login-block__content">
            <form class="login-block__login" asp-controller="Account" asp-action="Register">
                <div class="login__head">
                    <h2>Реєстрація</h2>
                </div>
                <input type="text" class="login__login" placeholder="Логін" asp-for="Name">
                <input type="email" class="login__center" placeholder="Email" asp-for="Email">
                <input type="tel" class="login__center" placeholder="Телефон" asp-for="PhoneNumber">
                <input type="password" class="login__center" placeholder="Пароль" asp-for="Password"><br>
                <input type="password" class="login__password" placeholder="Підтвердіть пароль" asp-for="PasswordConfirm">
                <button type="submit" class="button">Зареєструватись</button>
            </form>
        </div>
    </div>
</section>

@section pageScripts {

    <script>
        const field = document.querySelector('input[type="tel"]');

        field.onkeypress = function (e) {
            let keyVal = String.fromCharCode(e.keyCode);
            let filteredValue = this.value.replace(/\D/g, '');

            if (filteredValue.length > 0) {
                field.value = filteredValue.replace(/(\d{3})/, "+38($1)");
            }

            if (filteredValue.length > 5) {
                field.value = filteredValue.replace(/(\d{2})(\d{3})/, "+$1($2)");
            }

            if (filteredValue.length > 7) {
                field.value = filteredValue.replace(/(\d{2})(\d{3})(\d{3})/, "+$1($2)$3-");
            }

            return (isNumber(keyVal) && filteredValue.length <= 12)
        };

        // Validate Numeric inputs
        function isNumber(o) {
            return o == '' || !isNaN(o - 0);
        }
    </script>

}