<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Marketplace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/backImage.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/paragraph.css" />
    <link rel="stylesheet" href="~/css/card.css" />
    <link rel="stylesheet" href="~/css/label.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<a asp-controller="Home" asp-action="Index" class="header__logo"><img src="~/img/logo.svg" alt="Logo"></a>
				<div class="header__menu menu">
					<nav class="menu__body">
						<form method="get" action="@Url.Action("GetProducts", "Product")">
							<input type="text" name="searchString" id="searchString">
							<button type="submit" class="button" value="Search">Пошук</button>
						</form>
					</nav>
				</div>
				<div class="header__actions actions">
					@if (!User.Identity.IsAuthenticated)
					{
						<div class="actions__nonauth nonauth">
							<a class="nonauth__button button button_border" asp-controller="Account" asp-action="Login">Вхід</a>
							<a data-da=".menu__body,767.98" class="nonauth__button button" asp-controller="Account" asp-action="Register">Зареєструвавтись</a>
						</div>
					}
					@if (User.Identity.IsAuthenticated)
					{
						<div class="actions__auth auth">
							<a asp-controller="Profile" asp-action="Detail" class="auth__profile">Ваш кабінет</a>
							<a asp-controller="Product" asp-action="Save" class="auth__addproduct" title="Додати оголошення" style="margin-right: 4px;">
								<svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" style="padding: 0 0 2px 4px;">

									<g id="SVGRepo_bgCarrier" stroke-width="0" />

									<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

									<g id="SVGRepo_iconCarrier"> <path d="M8 12H16" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> <path d="M12 8L12 18" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g>

								</svg> 
							</a>
							<a asp-controller="Chat" asp-action="Index" title="Повідомлення">
								<svg width="32" height="32" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" stroke="#ffffff">

									<g id="SVGRepo_bgCarrier" stroke-width="0" />

									<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

									<g id="SVGRepo_iconCarrier"> <title>message [#1578]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-100.000000, -919.000000)" fill="#ffffff"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M56.344,759 L51.657,759 C47.428,759 44,762.260755 44,766.474225 C44,770.687695 47.428,773.948451 51.657,773.948451 L55.907,773.948451 L59.885,778.17089 C61.643,779.922848 64,778.638278 64,776.728862 L64,766.833985 C64,762.619518 60.546,759 56.318,759 L56.344,759 Z M56.172,761.094776 C59.291,761.094776 62,763.725704 62,766.833985 L62,776.728862 C62,777.093605 61.564,777.282952 61.299,777.018862 C56.718,772.15663 57.493,773.044568 56.735,771.955324 L51.657,771.955324 C48.538,771.955324 46,769.582506 46,766.474225 C46,763.365944 48.538,760.993127 51.657,760.993127 L56,760.993127 L56.172,761.094776 Z" id="message-[#1578]"> </path> </g> </g> </g> </g>

								</svg>
							</a>
						</div>
					}
					@if (User.IsInRole("Admin"))
					{
						<a class="nav-link paragraphLayout active text-black" asp-controller="User" asp-action="GetUsers" style="font-family:'Comic Sans MS'; font-weight: bold;">
							Адмін
						</a>
					}
				</div>
			</div>
		</header>

		<main class="page" role="main">
			@RenderBody()
		</main>

		<footer class="footer">
			<div class="footer__container">
				<div class="footer__content">
					<a href="" class="footer__logo"><img src="~/img/logo.svg" alt="Logo"></a>
					<div class="footer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat explicabo vel modi ut voluptatem iusto dignissimos consequuntur. Architecto officiis, harum illum eum eaque, iure voluptas quod illo itaque corrupti corporis?</div>
				</div>
			</div>
		</footer>
	</div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/js/modal.js"></script>
	<script src="~/js/app.js"></script>
    

    @await RenderSectionAsync("pageScripts", required: false)
</body>
</html>