<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Marketplace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/backImage.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/paragraph.css" />
    <link rel="stylesheet" href="~/css/card.css" />
    <link rel="stylesheet" href="~/css/label.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<a asp-controller="Home" asp-action="Index" class="header__logo"><img src="~/img/logo.svg" alt="Logo"></a>
				<div class="header__menu menu">
					<nav class="menu__body">
						<form method="get" action="@Url.Action("GetProducts", "Product")">
							<input type="text" name="searchString" id="searchString">
							<button type="submit" class="button" value="Search">Пошук</button>
						</form>
					</nav>
				</div>
				<div class="header__actions actions">
					@if (!User.Identity.IsAuthenticated)
					{
						<div class="actions__nonauth nonauth">
							<a class="nonauth__button button button_border" asp-controller="Account" asp-action="Login">Sign In</a>
							<a data-da=".menu__body,767.98" class="nonauth__button button" asp-controller="Account" asp-action="Register">Get Started</a>
						</div>
					}
					@if (User.Identity.IsAuthenticated)
					{
						<div class="actions__auth auth">
							<a asp-controller="Profile" asp-action="Detail" class="auth__profile">Ваш кабінет</a>
							<a asp-controller="Product" asp-action="Save" class="auth__addproduct">Додати оголошення</a>
						</div>
					}
					@if (User.IsInRole("Admin"))
					{
						<a class="nav-link paragraphLayout active text-black" asp-controller="User" asp-action="GetUsers" style="font-family:'Comic Sans MS'; font-weight: bold;">
							Адмін
						</a>
					}
				</div>
			</div>
		</header>

		<main class="page" role="main">
			@RenderBody()
		</main>

		<footer class="footer">
			<div class="footer__container">
				<div class="footer__content">
					<a href="" class="footer__logo"><img src="~/img/logo.svg" alt="Logo"></a>
					<div class="footer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat explicabo vel modi ut voluptatem iusto dignissimos consequuntur. Architecto officiis, harum illum eum eaque, iure voluptas quod illo itaque corrupti corporis?</div>
				</div>
			</div>
		</footer>
	</div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/js/modal.js"></script>
	<script src="~/js/app.js"></script>
    

    @await RenderSectionAsync("pageScripts", required: false)
</body>
</html>